



.heading  {
    color:whitesmoke;

    
    background-color: beige;
    
    text-align: center;

    font-size: 100px;

    padding-top: 84px;
    
    padding-bottom: 55px;
    
    letter-spacing: 2px;
    
    
font-family: sans-serif;
    
}

body {
    
    background-image: url("https://i.groupme.com/1639x1159.jpeg.a6f9d217241e4e438ce2a373c0888128.large");
    background-repeat: repeat-x;

    background-color: whitesmoke;
}


.intro {
    color: black;
    text-align: center;
    font-size: 21px;
    font-family: sans-serif;
    
}


.sum {
    text-decoration: underline;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
}

.exp {

    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    
}


.bot {
    font-size: 8px;
border-style: inset
}


.bot1 {
    text-align: left;
    
    border-width:
    }
.bot3 {
    text-align: right;

    
    }
.bot2 {
    text-align: center;
    
    
    }




/* Add a black background color to the top navigation */
.topnav {
    background-color: black;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: white;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: skyblue;
    color: white;
}









